<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367582713622-jdju4ggtv96j46ni7ct6pc4s71mj7h40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367582713622-jdju4ggtv96j46ni7ct6pc4s71mj7h40</string>
	<key>API_KEY</key>
	<string>AIzaSyCEY_jKjF7vcvcLGmpMXe74meA5jsOZHIs</string>
	<key>GCM_SENDER_ID</key>
	<string>367582713622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devLaborit.EcommerceUI-DrapShop</string>
	<key>PROJECT_ID</key>
	<string>login-signup-66c51</string>
	<key>STORAGE_BUCKET</key>
	<string>login-signup-66c51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367582713622:ios:900d840c1d6f27d14e2237</string>
</dict>
</plist>